h1 {
  
  font-family: 'Baloo Tammudu 2', cursive;
  margin: 15px;
}


body {
  font-family: 'Poppins', sans-serif;
};

.button {
  transition-duration: 0.4s;
  border: 1px solid #4CAF50;
  border-radius: 5px;
  font-size: 20px;
  background-color: white;
  width: 9.7%;
  padding: 8px 16px;
  outline: none;
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
   border: 1px solid #4CAF50;
}

.find {
   transition-duration: 0.4s;
  border: 1px solid #4CAF50;
  border-radius: 5px;
  font-size: 20px;
  background-color: white;
  width: 19.8%;
  padding: 8px 16px;
  margin-top: 10px;
  outline: none;
  box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
   border: 1px solid #4CAF50;

}

.find {
  background-position: center;
  transition: background 0.8s;
}
.find:hover {
  background: #4CAF50 radial-gradient(circle, transparent 1%, #90EE90 1%) center/15000%;
  outline: none;
}
.find:active {
  background-size: 100%;
  transition: background 0s;
}

.container {
  text-align: center;
/*   -webkit-box-shadow: 10px 10px 5px 0px  rgba(0,0,0,0.53);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.53);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.53); */
}


.find:hover {
  background-color: #4CAF50; 
  color: white;
  outline: none;
}

input {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  
}


input {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
	outline: none;
  width: 20%;
  padding: 12px 20px;
  /* margin: 8px 0; */
  box-sizing: border-box;
}
input:focus{
	border: 1px solid #0C0;
}

 